:root {
  --bg-color: #f8f9fa;
  --line-separator: #e9ecee;
  --text-color: #ffaa46;
  --color-link: #b6b8bd;
  --color-hover: #ffaa46;
  --input-text: #a9daa0;
  --scroll-track: #ffffff00;
  --color-shadow: #ffaa46ff;
  --inpt-selec: #889186;
}
