:root {
  --bg-color: #ffffff;
  --line-separator: #e9ecee;
  --text-color: #ffaa46;
  --color-link: #c4c6ca;
  --color-hover: #ffaa46;
  --input-text: #2fb5d9;
  --scroll-track: #ffffff00;
  --color-shadow: #ffaa46ff;
  --inpt-selec: #d4dff6;
}
