:root {
  --bg-color: #00b7c3;
  --line-separator: #20a8af;
  --text-color: #0b545d;
  --color-link: #a2e7e5;
  --color-hover: #ffffff;
  --input-text: #ffffff;
  --scroll-track: #ffffff00;
  --color-shadow: #0b545dff;
  --inpt-selec: #20fbff;
}
